<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="referencebooks" transaction-type="RESOURCE_LOCAL">

        <class>com.company.referencebooks.entity.Employee</class>
        <class>com.company.referencebooks.entity.Department</class>
        <class>com.company.referencebooks.entity.TypeDocument</class>
        <class>com.company.referencebooks.entity.Company</class>
        <class>com.company.referencebooks.entity.Logbook</class>
        <class>com.company.referencebooks.entity.Nomenclature</class>
        <class>com.company.referencebooks.entity.OutgoingDocument</class>
    </persistence-unit>
</persistence>
